.btn{
    border-radius: 3px;
    border: 0;
    padding: 8px 12px;
   
} 
.btn-primary{
    background-color: #0d6efd;
    color: white;
}
.btn-danger{
    background-color:rgba(224, 7, 7, 0.88);
    color: white;
}
